// All site colors appear here.
$wht: #fff;
$blk: #000;

$off-blk: #333333;

$text-blk: #211F20;
$text-gray: #999999;
$text-med-gray: #777777;

$btn-grey: #999999;
$btn-grey-hover: #888888;

$red: #F44336;
$blue: #2196F3;
$cyan: #00BCD4;

$gray: #E6E7E9;
$horizontal-rule: #CCCCCC;

$yellow: #FFFD77;

$teal: #339999;
$teal-hover: #5cadad;

$charcoal: #555555;
$forest-green: #666666;

//Hart Energy Conferences Global Colors
