// Add your settings here.
//
// This is the FIRST Sass file imported by init.scss.

// Z-Indexes
$z-under: -1;
$z-flat: 0;
$z-ten: 10;
$z-one: 100;
$z-two: 200;
$z-three: 300;
$z-four: 400;
$z-five: 500;
$z-over: 9999;

// Site Preloader
#preloader {
    background: #fff;
    @include position(fixed, 0 0 0 0);
    @include size(100%, 100%);
    z-index: $z-over;
    
    .inner {
        @include position(relative, 50% null null null);
        @include transform(translateY(-50%));
    }

    svg {
      display: block;
      height: 120px;
      margin: 0 auto 30px;

      .\36 3157878-2ef0-4800-965c-c7fc4a30e712 {
        fill:#000;
      }
      .\30 3d4419a-7fdb-4dc7-ad30-df1f4e955ccd,
                .\33 ce85440-e5a3-482c-8c51-03792b31ae54,
                .\35 154cc6d-9675-4d2c-91c2-ef1f60584d3b,
                .\37 16c9e6c-de01-42d7-8268-93869633b309,
                .\38 e93c8bd-90f3-45f6-92f5-03ba7ec3b051 {
                    fill-rule:evenodd
                }
                .\30 3d4419a-7fdb-4dc7-ad30-df1f4e955ccd {
                    fill:url(#43c3fcc9-8f38-42f8-be63-420599a75c3a)
                }
                .\33 ce85440-e5a3-482c-8c51-03792b31ae54{
                    fill:url(#0c88849b-8218-4651-bc6a-59561370e110)
                }
                .\35 154cc6d-9675-4d2c-91c2-ef1f60584d3b{
                    fill:url(#f9a9b2ed-74e6-43ca-9656-61c164c51bcb)
                }
                .\38 e93c8bd-90f3-45f6-92f5-03ba7ec3b051{
                    fill:url(#a977ce24-3b0f-4736-a113-b00623b461ee)
                }
                .\37 16c9e6c-de01-42d7-8268-93869633b309{
                    fill:url(#996db6d7-e272-4686-a53b-10aa01abb202)
                }
    }

    .loader {
      margin: 0 auto;
      font-size: 10px;
      position: relative;
      text-indent: -9999em;
      border-top: 1.1em solid rgba(33, 150, 243, 0.2);
      border-right: 1.1em solid rgba(33, 150, 243, 0.2);
      border-bottom: 1.1em solid rgba(33, 150, 243, 0.2);
      border-left: 1.1em solid #2aa8ff;
      @include transform(translateZ(0));
      @include animation(load8 1.1s infinite linear);
    }

    .loader,
    .loader:after {
      border-radius: 50%;
      @include size(10em, 10em);
    }
}
@include keyframes(load8) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

#page-wrapper {
  position: relative;
  @include size(100%,100%);
}