// Add your settings here.
//
// This is the FIRST Sass file imported by init.scss.

// Z-Indexes
$z-under: -1;
$z-flat: 0;
$z-ten: 10;
$z-one: 100;
$z-two: 200;
$z-three: 300;
$z-four: 400;
$z-five: 500;
$z-over: 9999;