#footer {
    background-color: #1a1a1a;
    padding: 60px 0;

    .copyright {
        color: rgba(255,255,255,.7);

        img {
            margin-bottom: 20px;
        }
        .about {
            margin-bottom: 20px;
        }
    	ul {
    		margin: 0;
            margin-bottom: 20px;
    		
    		li {
    			padding-right: 20px;
    	   		padding-left: 20px;

                &:first-child {
                    padding-left: 0;
                }
    	   		&:last-child {
    	   			padding-right: 0;
    	   		}
    		}
       		a {
       			color: #fff;
    		    font-size: 12px;
    		    text-transform: uppercase;
    		    letter-spacing: 0.1em;
       		}
    	}
        small {
            color: rgba(255,255,255,.3);
        }
    }

    .sitemap {

        h5 {
            color: $wht;
            letter-spacing: 0.15em;
            margin-top: 0;
            text-transform: uppercase;
        }
        .sitemapMenu{
            margin-bottom: 25px;

            &.social li a {
                font-size: 21px;
            }
            &.app img {
                margin-bottom: 10px;
            }
        }
        ul {
            li {
                margin-bottom: 5px;
            }
            a {
                color: #ccc;
            }
        }
    }
    
}