body {
    position: relative;
}
a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: darken($blue,15%);
    text-decoration: none;
  } 
}
.text-link {
    padding-bottom: 2px;
    color: $blue;
    border-bottom: 3px solid $blue;
    font-weight: $fw-reg;

    &:hover {
        color: darken($blue,10%);
        border-color: darken($blue,10%);
    }
}
input[type="submit"], 
button {
    transition: all .3s ease-out;
    background: $blue;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: $fw-reg;
    line-height: 1;
    min-width: 120px;
    padding: 13px 0px 14px 0px;
    text-align: center;

    &:hover,
    &:focus {
        color: $wht;
        box-shadow: inset 0 -100px 0 rgba(41,41,41,0.15), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);
        transition: 0.25s;
    }
    

   
    
}
 @media (min-width: $screen-sm-min) {
        .btn {
            font-size: 16px;
            min-width: 180px;
        }
     }
input[type="submit"] {
    border:none;
    font-weight: $fw-reg;
}
input[type="text"], 
input[type="email"], 
input[type="tel"] {
    &:hover,
    &:focus {
        background: rgba(200,200,200,0.5);
        outline: none;
    }
}
.btn {
  min-width: 180px;
  border-radius: 25px;
  background: $blue;
  text-align: center;
  padding: 13px 0px 14px 0px;
  color: #fff !important;
  font-size: 15px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  font-weight: 600;
  line-height: 1;
  &:hover {
    color: #fff;
    background: $blue;
  }
}

.btn-hollow {
  background: none;
  border: 2px solid $blue;
  color: $blue !important;
  &:hover {
    background: $blue;
    color: #fff !important;
  }
}

.btn-white {
  background: #fff;
  color: $blue !important;
  &:hover {
    background: #fff;
    color: $blueD2;
  }
}

.btn-hollow.btn-white {
  background: none;
  border-color: #fff;
  color: #fff !important;
  &:hover {
    background: #fff;
    color: $blue !important;
  }
}

.btn-lg {
  padding: 20px 0px 21px 0px;
  text-transform: uppercase;
  min-width: 230px;
  border-radius: 35px;
}
.section-header {
    display: block;
    margin-bottom: 10px;

    .shsuperTitle {
        color: $blue;
        font-size: 24px;
        font-weight: $fw-light;
        letter-spacing: -1px;
        line-height: 34px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
.accordion {  
  > li > a {
    font-weight: normal;
  }

  .submenu {
    display: none;
  }

  .submenu-open {
    display: block;
  }
}

.image-with-text {
    height: 600px;
    position: relative;
    overflow: hidden;

    .side-image {
        height: 100%;
        position: absolute;
        top: 0px;
        padding: 0px;
    }

    .go-left {
        left: 0px;
    }
    .go-right {
        right: 0px;
    }

    .background-image-holder {
        height: 130%;
        position: absolute;
        top: -10%;
        width: 100%;
        background-size: cover !important;
        background-position: 50% 50% !important;
    }
    h2 {
        font-weight: $fw-light;
        font-size: 34px;
    }
}
.dark-wrapper {
    background: rgb(241, 241, 241);
}
.primary-bg {
    background: $blue;
    transform-style: preserve-3d;
    color: rgb(255, 255, 255);
    height: 600px;
    position: relative;
    overflow: hidden;

    * {
        color: $wht;
    }
}
.preserve-3d {
    transform-style: preserve-3d;
}
.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
input[type="text"], 
input[type="email"], 
input[type="tel"] {
    transition: all .3s ease-out;
    background: rgba(200,200,200,0.3);
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 32px;
    max-width: 90%;
    padding: 12px;
    padding-left: 24px;
}
.pageHeader {
    background-color: $blk;
    color: $wht;
    overflow: hidden;
    padding: 160px 0;
    position: relative;
    text-align: left;

    .backgroundImage {
        @include position(absolute,0 0 0 0);
        width: 100%;
        height: 100%;
        background-position: 50% 0px;
        background-size: cover;


        &:after {
            background-image:linear-gradient(90deg,rgba(0,0,0,.8) 0%,rgba(0,0,0,.2) 100%);
            content: ' ';
            display: block;
            @include position(absolute,0 0 0 0);
            width: 100%;
            height: 100%;

        }
    }
    .text {
        position: relative;
    

        h1 {
            font-size: 60px;
            font-weight: $fw-thin;
        }
    }
}
#promo {
        color: $wht;
        overflow: hidden;
        padding: 60px 0;
        position: relative;

        .color-block {
            color: #fff;
            height: 100%;
            padding: 0px;
            @include position(absolute, 0 null null null);
            transition: all .3s ease-out;

            &.block-left {
                background-color: darken($blue, 20%);
            }
            &.block-right {
                background-color: darken($blue,30%);
                right: 0;
            }
             @media (max-width: $screen-sm-min) {
                height: 50%;
                width: 100%;

                &.block-right {
                    top: 50%;
                }
             }
        }

        .block-content {
            color: #fff;
            pointer-events: auto;

            &:hover .icon {
                transform: rotateZ(-10deg);
            }

            @media (max-width: $screen-sm-min) {
                display: block;
                margin-bottom: 120px;
                overflow: hidden;

                &:last-of-type {
                    margin-bottom: 0;
                }

                .icon {
                    margin-bottom: 30px;
                }
            }

        }
        .icon {
            background: $wht;
            border: 2px solid $wht;
            border-radius: 50%;
            color: $blue;
            display: inline-block;
            font-size: 70px;
            height: 120px;
            line-height: 117px;
            text-align: center;
            transition: all .1s ease-out;
            width: 120px;
        }
        h2 {
            font-size: 24px;
            line-height: 30px;
            margin: 0 0 10px 0;
            font-weight: $fw-light;

            @media (min-width: $screen-sm-min) {
                font-size: 30px;
                line-height: 36px;
            }
        }
        .left .icon {
                color: darken($blue, 20%);
            }
        .right .icon {
         color: darken($blue, 30%);
        }
    }
#sponsors {
    overflow: hidden;
    padding: 60px 0;
    position: relative;

        h2 {
            font-weight: $fw-light;
            margin-top: 0;
            margin-bottom: 30px;
        }
        .sponsor-column .sponsor {
                height: 80px;
                line-height: 80px;
                margin-bottom: 36px;
        }
        img {
                max-height: 80px;
                max-width: 150px;
                transition: all 0.3s ease-out;
                height: auto;
        }
}

#subscribe {
    padding: 60px 0;

        .icon {
            font-size: 70px;
            color: $blue;
            display: inline-block;
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 25px;
        }
        h2 {
            margin-top: 0;
        }
        input {
            margin: 0px auto;
            max-width: 100%;
            min-width: 100%;
        }
        input[type="email"] {
            color: #333;
        }
    }
.pricing-option {
  overflow: hidden;
  background: #f5f5f5;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  padding: 72px 0px;
  margin-bottom: 30px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  .dot {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
  }
  &:hover {
    background: #ededed;
  }
}

@media all and (min-width: 321px) and (max-width: 767px) and (orientation: landscape) {
  .pricing-options .col-sm-6 {
    width: 50%;
    float: left;
  }
}

.dollar, .price, .type {
  font-weight: 600;
  color: #333333;
  font-size: 72px;
}

.dollar {
  font-size: 36px;
  position: relative;
  bottom: 22px;
}

.price {
  line-height: 1;
}

.type {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 12px;
}

.plan-title {
  display: block;
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 18px;
  color: #333333;
}

.pricing-option {
  ul li {
    color: #777777;
  }
  &.emphasis {
    background: #0072bc;
    color: #fff;
    .type, .dollar, .price, .plan-title, ul li {
      color: #fff !important;
    }
  }
}

@media all and (max-width: 991px) {
  .type {
    margin-bottom: 12px;
  }
  .pricing-option {
    text-align: center !important;
  }
}

.faq-item {
  margin-bottom: 36px;
}

p.question {
  font-weight: 600;
  color: #333333;
  font-size: 16px;
}

.info-box {
  margin-bottom: 0;
  /* 36px; schro */
  position: relative;
  overflow: hidden;
  img {
    display: block;
    margin-bottom: 12px;
  }
  h3 {
    margin-bottom: 12px;
  }
  .text-link {
    position: absolute;
    bottom: 12px;
    right: 0px;
  }
}
.topic {
  h3 {
    margin-top: 0;
    margin-bottom: 18px;
    font-weight: $fw-light;
  }
  p.lead {
    margin-bottom: 32px;
  }
  i {
    font-size: 60px;
    color: #0072bc;
    display: inline-block;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 767px) {
  .topic {
    h3 {
      display: inline-block;
      position: relative;
      bottom: 18px;
      left: 12px;
    }
    i {
      margin-bottom: 12px;
    }
  }
}
.ruled-list li {
  border-top: 1px dotted rgba(0, 0, 0, 0.3);
  padding: 12px 0px;
  font-size: 16px;
}