body {
    position: relative;
}
a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: darken($blue,15%);
    text-decoration: none;
  } 
}
.text-link {
    padding-bottom: 2px;
    color: $blue;
    border-bottom: 3px solid $blue;
    font-weight: $fw-reg;

    &:hover {
        color: darken($blue,10%);
        border-color: darken($blue,10%);
    }
}
.btn,
input[type="submit"], 
button {
    transition: all .3s ease-out;
    background: $blue;
    border-radius: 25px;
    color: #fff;
    font-family: $ff-roboto;
    font-size: 16px;
    font-weight: $fw-reg;
    line-height: 1;
    min-width: 180px;
    padding: 13px 0px 14px 0px;
    text-align: center;

    &:hover,
    &:focus {
        color: $wht;
        box-shadow: inset 0 -100px 0 rgba(41,41,41,0.15), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);
        transition: 0.25s;
    }
    &.btn-white {
        background: $wht;
        color: #444;
    }

    &.btn-hollow {
        background: none;
        border: 2px solid $blue;
        color: $blue;

        &:hover,
        &:focus {
            background: $blue;
            color: $wht;
            transition: 0.25s;
        }
    }
}
input[type="submit"] {
    border:none;
    font-weight: $fw-reg;
}
input[type="text"], 
input[type="email"], 
input[type="tel"] {
    &:hover,
    &:focus {
        background: rgba(200,200,200,0.5);
        outline: none;
    }
}
.section-header {
    display: block;
    margin-bottom: 10px;

    .shsuperTitle {
        color: $blue;
        font-family: $ff-roboto;
        font-size: 24px;
        font-weight: $fw-light;
        letter-spacing: -1px;
        line-height: 34px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .dash {
        display: inline-block;

        &:after {
            border-bottom: 3px solid $blue;
            clear: both;
            content: '';
            display: block;
            float: left;
            margin-top: 5px;
            margin-bottom: 8px;
            width: 100%;
        }

        h1 {
            font-family: $ff-roboto;
            font-size: 90px;
            font-weight: 700;
            letter-spacing: -4px;
            line-height: 96px;
            margin: 0;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
}
.accordion {  
  > li > a {
    font-weight: normal;
  }

  .submenu {
    display: none;
  }

  .submenu-open {
    display: block;
  }
}

.image-with-text {
    height: 600px;
    position: relative;
    overflow: hidden;

    .side-image {
        height: 100%;
        position: absolute;
        top: 0px;
        padding: 0px;
    }

    .go-left {
        left: 0px;
    }

    .background-image-holder {
        height: 130%;
        position: absolute;
        top: -10%;
        width: 100%;
        background-size: cover !important;
        background-position: 50% 50% !important;
    }
    h2 {
        font-weight: $fw-light;
        font-size: 34px;
    }
}
.dark-wrapper {
    background: rgb(241, 241, 241);
}
.primary-bg {
    background: $blue;
    transform-style: preserve-3d;
    color: rgb(255, 255, 255);
    height: 600px;
    position: relative;
    overflow: hidden;

    * {
        color: $wht;
    }
}
.preserve-3d {
    transform-style: preserve-3d;
}
.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
input[type="text"], 
input[type="email"], 
input[type="tel"] {
    transition: all .3s ease-out;
    background: rgba(200,200,200,0.3);
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 32px;
    max-width: 90%;
    padding: 12px;
    padding-left: 24px;
}
.pageHeader {
    color: $wht;
    overflow: hidden;
    padding: 160px 0;
    position: relative;
    text-align: left;

    .backgroundImage {
        @include position(absolute,0 0 0 0);
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    h1 {
        font-size: 42px;
        font-weight: $fw-light;
    }
}
#sponsors {
    overflow: hidden;
    padding: 60px 0;
    position: relative;

        h1 {
            font-weight: $fw-light;
            margin-top: 0;
            margin-bottom: 30px;
        }
        .sponsor-column 
            .sponsor {
                height: 80px;
                line-height: 80px;
                margin-bottom: 36px;
            }
            img {
                max-height: 80px;
                max-width: 150px;
                transition: all 0.3s ease-out;
                height: auto;
        }
}

#subscribe {
    padding: 80px 0;

        .icon {
            font-size: 70px;
            color: $blue;
            display: inline-block;
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 25px;
        }
        h1 {
            margin-top: 0;
        }
        input {
            margin: 0px auto;
            max-width: 100%;
            min-width: 100%;
        }
    }
