#navigation {
        background-color: rgba(255,255,255,0);
        border: 0;
        border-radius: 0;
        margin: 0;
        padding-right: 15px;
        padding-left: 15px;
        @include position(fixed, null null null null);
        transition: all 0.3s ease-out;
        width: 100%;
        z-index: $z-three;

        .navbar-header {
            float: left;


        }
        .navbar-nav {
            padding-top: 20px;
            padding-bottom: 20px;
            transition: all 0.3s ease-out;
        }
        .navbar-nav.main {
            padding-right: 15px;
        }

        .navbar-nav > li > a {
            color:#fff;
            font-size: 16px;
            font-weight: 600;
            line-height: 50px;

            transition: all 0.3s ease-out;

            &:hover,
            &:focus {
                color: $blue;
            }

            &.registerButton {
                background-color: $wht;
                color: #444;
                font-size: 14px;
                letter-spacing: 0.15em;
                padding: 0 15px;
                text-transform: uppercase;

            }
        }
        
        .navbar-nav.main > li {
            margin-left: 40px;
        }
        .navbar-nav.main > li > .dropdown-menu {
            background-color: rgba(0,0,0,0.95);
            border: 0;
            border-radius: 0;
            margin-top: 2px;
            min-width: 220px;
            text-align: right;

            &:before {
                content: ' ';
                display: block;
                position: absolute;
                left: 0;
                top: -2px;
                right: 0;
                height: 2px;
                z-index: 5;
                background-color: $blue;
            }
            
            li > a {
                border-top: 1px solid rgba(255,255,255,.1);
                color: $wht;
                font-size: 16px;
                padding: 10px 20px;

                &:hover {
                    background-color: transparent;
                    color: $blue;
                }
            }

            li:first-child > a {
                border-top: 0;
            }
        }
        .navbar-nav.main > li.dropdown.open {
            > a {
                background-color: transparent !important;
                color: $blue;
            }
        }
        .navbar-nav.fullMenu {
            float: right;
            margin-top: 0;
            margin-bottom: 0;
        }
        .navbar-nav.fullMenu > li > a.menu-link {
            float: left;
            margin-top: 0;
            margin-left: 30px;
            color: #fff;
            text-decoration: none;
            font-size: 32px;
            z-index: $z-two;
            cursor: pointer;
            touch-action: manipulation;
            vertical-align: top;

                .icon-cross4 {
                    display: none;
                }

                &.active {

                    .icon-cross4 {
                        display: inline;
                    }

                    .icon-menu11 {
                        display: none;
                    }

                }
        }
        .navbar-nav.social {
            margin-left: 15px;


            li > a {
                margin-left: 1em;
                padding-left: 0;
                padding-right: 0;
            }
        }
        .navbar-nav > li.active a,
        .navbar-nav > li.active a:hover,
        .navbar-nav > li.active a:focus {
            background-color: transparent;
        }
        .navbar-brand {
            height: 120px;
            display: block;
            padding-top: 20px;
            padding-bottom:20px;
            transition: all 0.3s ease-out;
            
            #logo {
                display: block;
                width: 164px;
                height: 80px;
                //background: url('../images/dugef_wht_conf-logo.svg') no-repeat center center;
                //@include retina('../images/dugef_wht_conf-logo.png', 4, 164px 80px, center center no-repeat);
                //background-size: 164px;

                .\37 9c24bf5-ed32-4880-b608-64c69e0ce8dd {
                    fill:#fff
                }
                .\37 2740b74-50a3-4eb6-9d2c-f3dbb9750cf3,
                .bb1f9e01-af14-4b6d-8cc0-ad64d7419c45,
                .d65952a4-2b2b-4638-a361-fee1df3fb3e2,
                .e45290a7-3d8a-456d-96d8-61ffddcdfbe2,
                .fc85bcc7-68f7-43b8-baa8-3eb910fff5c6{fill-rule:evenodd}
                .bb1f9e01-af14-4b6d-8cc0-ad64d7419c45{fill:url(#d6bdcfa0-c09b-4055-82ce-d70d27b89ebe)}
                .\37 2740b74-50a3-4eb6-9d2c-f3dbb9750cf3{fill:url(#bdf8709d-75c4-4259-be63-a92ac09c577f)}
                .e45290a7-3d8a-456d-96d8-61ffddcdfbe2{fill:url(#88e82b32-bbe1-4979-b9b5-074137970b88)}
                .fc85bcc7-68f7-43b8-baa8-3eb910fff5c6{fill:url(#e3d89d3b-acd5-48ae-b07f-b1774e7c0218)}
                .d65952a4-2b2b-4638-a361-fee1df3fb3e2{fill:url(#9cb3507d-afc4-4422-8211-5acf9fe4b29d)} 

            }
            
        }
         &.affix  {
            background-color: rgba(255,255,255,.95);
            box-shadow: 0 1px 3px rgba(0,0,0,.11);
            @include position(fixed, null null null null);
            z-index: $z-three;

            .navbar-nav {
                padding-top: 0px;
                padding-bottom: 0px;
            }

            .navbar-nav > li > a {
                color: #333;

                &:hover {
                    color: $blue;
                }
            }
            .navbar-nav.main > li > .dropdown-menu {
                background-color: rgba(255,255,255,.95);

                 li > a {
                    border-top: 1px solid rgba(0,0,0,.2);
                    color: $blk;

                    &:hover {
                        color: $blue;
                    }
                }
                li:first-child > a {
                    border: 0;
                }
            }
            .navbar-brand {
                height: 80px;
                padding-top: 15px;
                padding-top: 15px;

                #logo {
                    display: block;
                    width: 102px;
                    height: 50px;
                    //@include retina('../images/dugef_blk_conf-logo.png', 4, 102px 50px, center center no-repeat);
                    //background: url('../images/dugef_blk_conf-logo.svg') no-repeat center center;
                    //background-size: 102px; 

                    .\37 9c24bf5-ed32-4880-b608-64c69e0ce8dd {
                        fill:#000;
                    }
                }
                
                
            }

            .navbar-nav.fullMenu > li > a.menu-link {
                color: #333;
            }
        }
}
       

.nav-sticky-active.nav-sticky-open #navigation.affix {           

           
            .navbar-nav > li > a {
                color: #333;

                &:hover,
                &:focus {
                    color: $blue;
                }

                &.registerButton {
                    background-color: $blue;
                    color: $wht;
                }
            }
        }

#fullMenu {
    @include position(fixed, null -300px null null);
    @include size(300px, 100%);

    &.fullMenu-panel {
        background: $off-blk;
    }

    .fullMenu-content {
        margin-top: 24px;
        padding: 0 30px;
    }

    .fullMenu-header {
        text-align: center;

        
    }

    ul {
        margin-bottom: 24px;
    }
    ul > li {
  
    } 
    .accordion > li > a {
        color: $wht;
        display: block;
        font-weight: 700;
        line-height: 1.1;
        padding: 15px 0;

        &:hover,
        &:focus {
            color: $blue;
            text-decoration: none;
        }

        &.js-accordion-trigger {
            position: relative;

            .icon {
                float: right;
                transition: .25s all ease;
            }

            &.submenu-open .icon {
                transform: rotate(45deg);

            }
        }
    }

    .accordion .submenu {
        padding-left:20px;

        > li > a {
            color: transparentize($wht,.1);

            &:hover {
                text-decoration: none;
            }
        }
    }

}