#navigation {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        margin: 0;
        padding-top: 30px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-left: 15px;
        @include position(absolute, null null null null);
        @include transform(translateY(0));
        width: 100%;
        z-index: $z-one;

        .navbar-nav > li > a {
            color:#fff;
            font-family: $ff-raleway;
            font-size: 16px;
            font-weight: 600;
            line-height: 50px;
            padding: 0;

            &:hover,
            &:focus {
                color: $blue;
            }

            &.registerButton {
                background-color: $wht;
                color: #444;
                font-size: 14px;
                letter-spacing: 0.15em;
                padding: 0 15px;
                text-transform: uppercase;

            }
        }
        .navbar-nav.main {
            padding-top:0;
            padding-right: 15px;
        }
        .navbar-nav.main > li > a {
            margin-left: 40px;
        }
        .navbar-nav.fullMenu > li > a.menu-link {
            float: left;
            margin-top: 0;
            margin-left: 30px;
            color: #fff;
            text-decoration: none;
            font-size: 32px;
            //height: 50px;
            //width: 50px;
            //padding: 8px;
            //border: 2px solid transparent;
            //border-radius: 25px;
            z-index: $z-two;
            //background: rgba(40,40,40,.6);
            //line-height: 1;
            //box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
            cursor: pointer;
            touch-action: manipulation;
            vertical-align: top;

                .icon-cross4 {
                    display: none;
                }

                &.active {

                    .icon-cross4 {
                        display: inline;
                    }

                    .icon-menu11 {
                        display: none;
                    }

                }
            }
        .navbar-nav.social {
            margin-left: 15px;

            li > a {
                margin-left: 1em;
            }
        }
        .navbar-nav > li.active a,
        .navbar-nav > li.active a:hover,
        .navbar-nav > li.active a:focus {
            background-color: transparent;
        }
        .navbar-brand {
            height: 50px;
            padding-top: 0;
            padding-bottom: 0;
            
            .logo {
                display: block;

                &.blk,
                &.conf {
                    display: none;
                }
            }
            

            svg {
                height: 50px;

                .\36 3157878-2ef0-4800-965c-c7fc4a30e712 {
                    fill:#fff
                }
                .\30 3d4419a-7fdb-4dc7-ad30-df1f4e955ccd,
                .\33 ce85440-e5a3-482c-8c51-03792b31ae54,
                .\35 154cc6d-9675-4d2c-91c2-ef1f60584d3b,
                .\37 16c9e6c-de01-42d7-8268-93869633b309,
                .\38 e93c8bd-90f3-45f6-92f5-03ba7ec3b051 {
                    fill-rule:evenodd
                }
                .\30 3d4419a-7fdb-4dc7-ad30-df1f4e955ccd {
                    fill:url(#43c3fcc9-8f38-42f8-be63-420599a75c3a)
                }
                .\33 ce85440-e5a3-482c-8c51-03792b31ae54{
                    fill:url(#0c88849b-8218-4651-bc6a-59561370e110)
                }
                .\35 154cc6d-9675-4d2c-91c2-ef1f60584d3b{
                    fill:url(#f9a9b2ed-74e6-43ca-9656-61c164c51bcb)
                }
                .\38 e93c8bd-90f3-45f6-92f5-03ba7ec3b051{
                    fill:url(#a977ce24-3b0f-4736-a113-b00623b461ee)
                }
                .\37 16c9e6c-de01-42d7-8268-93869633b309{
                    fill:url(#996db6d7-e272-4686-a53b-10aa01abb202)
                }
            }
        }

        
}
.nav-sticky-active #navigation.affix {
            background-color: rgba(255,255,255,.9);
            box-shadow: 0 1px 3px rgba(0,0,0,.11);
            padding-top: 15px;
            padding-bottom: 15px;
            @include position(fixed, null null null null);
            @include transform(translateY(-100%));
            
            z-index: $z-three;

            .navbar-brand {
                height: 50px;

                .logo {
                    display: none;

                    &.blk,
                    &.conf {
                        display: inline-block;
                    }
                    &.conf {
                        margin-left:15px;
                        border-left:1px dotted #999;
                        padding-left: 15px;
                    }
                }
                
                svg {
                    height: 50px;
                    
                    .\36 3157878-2ef0-4800-965c-c7fc4a30e712 {
                        fill:#000;
                    }
                }
            }
}        

.nav-sticky-active.nav-sticky-open #navigation.affix {           
            transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
            @include transform(translateY(0));
           
            .navbar-nav > li > a {
                color: #333;

                &:hover,
                &:focus {
                    color: $blue;
                }

                &.registerButton {
                    background-color: $blue;
                    color: $wht;
                }
            }
        }

#fullMenu {
    @include position(fixed, null -300px null null);
    @include size(300px, 100%);

    &.fullMenu-panel {
        background: $off-blk;
    }

    .fullMenu-content {
        margin-top: 24px;
        padding: 0 30px;
    }

    .fullMenu-header {
        text-align: center;

        
    }

    ul {
        margin-bottom: 24px;
    }
    ul > li {
  
    } 
    .accordion > li > a {
        color: $wht;
        display: block;
        font-weight: 700;
        line-height: 1.1;
        padding: 15px 0;

        &:hover,
        &:focus {
            color: $blue;
            text-decoration: none;
        }

        &.js-accordion-trigger {
            position: relative;

            .icon {
                float: right;
                font-size: 18px;
            }

            &.submenu-open .icon {
                transform: rotate(90deg);
            }
        }
    }

    .accordion .submenu {
        padding-left:20px;

        > li > a {
            color: transparentize($wht,.1);

            &:hover {
                text-decoration: none;
            }
        }
    }

}
