body.agenda {
	
	#agendaTabs {
		position: relative;
		top: -55px;
	}

	#agendaTabs > li > a {
		background: rgba(255,255,255,.8);
		border-radius: 0;
		color: #333;
		font-size: 18px;
		font-weight: $fw-reg;
		min-width: 180px;
		padding: 15px 30px;
		text-align: center;
		text-transform: uppercase;

		&:hover {
			color: $blue;
		}
	}
	#agendaTabs > li.active > a {
		background: $wht;
		color: #333;
	}
	.tab-content {
		margin-bottom: 60px;
	}
	.listing {
		border-bottom: 1px solid #d2d2d2;
		padding: 1em 0;
	
		.listing-title {
	    	font-weight: 600;
			font-family: $ff-raleway;
			margin-bottom: 0;
	    	text-transform: uppercase;
		}
	}
	.listing--break {
	
		.listing-title {
			letter-spacing: 0.15em;
	    	text-transform: uppercase;
		}
	}
	.card-listing {

		h3 {
			font-weight: $fw-light;
			margin-top: 0;
		}
		h6 {
			font-size: 14px;
			margin-bottom: 0;
			text-transform: uppercase;
		}
		ul li {
			p:first-child {
				margin-bottom: 2px;
			}
			h5 {
				font-family: $ff-raleway;
				margin: 0 0 5px 0;
			}
			h6 {
				margin-top: 0;
			}
		}
	}
}