body.front {

    #promo {
        color: $wht;
        overflow: hidden;
        padding: 60px 0;
        position: relative;

        .color-block {
            color: #fff;
            height: 100%;
            padding: 0px;
            @include position(absolute, 0 null null null);
            transition: all .3s ease-out;

            &.block-left {
                background-color: darken($blue, 20%);
            }
            &.block-right {
                background-color: darken($blue,30%);
                right: 0;
            }
        }

        a {
            color: #fff;
            pointer-events: auto;

            &:hover .icon {
                transform: rotateZ(-10deg);
            }
        }
        .icon {
            background: $wht;
            border: 2px solid $wht;
            border-radius: 50%;
            color: $blue;
            display: inline-block;
            font-size: 70px;
            height: 120px;
            line-height: 117px;
            text-align: center;
            transition: all .1s ease-out;
            width: 120px;
        }
        h2 {
            font-size: 30px;
            line-height: 36px;
            margin: 0 0 10px 0;
            font-weight: $fw-light;
        }
        .left .icon {
                color: darken($blue, 20%);
            }
        .right .icon {
         color: darken($blue, 30%);
        }
    }
    #about {
        padding: 80px 0;

        h1 {
            font-weight: $fw-light;
            margin-top: 0;
        }
    }
    #speakers {
        padding: 60px 0;
    }
    #speaker-list {
        position: relative;

        >li {  
            float: left;
            display: block;
            margin-bottom: 30px;
            overflow: hidden;
            padding-left: 15px;
            padding-right: 15px;
            width: 25%;

            &:first-child,
            &:nth-child(4n+1) {
                clear: left;
            }
        }
        .speaker-photo-wrap {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            max-width: 284px;
            margin: 0 0 15px;

            &:before {
                display: block;
                content: '';
                z-index: 3;
                @include position(absolute, 0 0 0 0);
                background: $blueD45;
                background: linear-gradient(45deg, $blue, $amber);
                opacity: 0.5;
                transition: opacity 0.5s ease-in-out;
            }
            &:hover:before {
                opacity: 0;
            }

            img {
                display: block;
                max-width: 100%;
                height: auto;
                transition: all 0.5s ease-in-out;
                transform: scale(1);
            }
            .corner {
                display: block;
                z-index: 4;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100px;
                height: 100px;
            }
            .triangle {
                display: block;
                @include position(absolute, 0 0 null null);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 100px 100px;
                border-color: transparent transparent #ffffff transparent;
            }
            .toggle {
                color: $blue;
                display: block;
                font-size: 32px;
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 32px;
                height: 32px;

                .icon {
                    display: block;
                    transition: transform .25s;
                }
            }
        }
        li.active {

            .speaker-photo-wrap:before {
                opacity: 0;
            }
            .triangle {
                border-color: transparent transparent $blue transparent;
            }
            .toggle {
                color: $wht;

                .icon {                
                    transform: rotate(45deg);   
                }
            }
        }
        h3 {
            font-weight: $fw-reg;
            line-height: 1.5;
            margin: 0;
        }
        h5 {
            color: #7e7e7e;
            font-weight: $fw-bold;
            line-height: 1.5;
            margin: 0;
        }
        .speaker-bio {
            display: none;
            @include position(absolute, null 15px null 15px);
            position: absolute;
            margin: 25px 0;
            padding: 65px 30px 20px;
            background: #334550;
            background: linear-gradient(45deg, $blueD45 0%, $blue 100%);
            color: #fff;
            text-align: left;

            &:before {
                display: block;
                content: '';
                position: absolute;
                z-index: 3;
                top: 0;
                left: 12.5%;
                margin-left: -37.5px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 20px 37.5px 0 37.5px;
                border-color: #ffffff transparent transparent transparent;
            }


            .overlay {
                display: block;
                @include position(absolute, 0 0 0 0);
                background: url('../images/elements_header_background.png') repeat 0 0;
            }

            &.active {
                display: block;

            }
            p {
                color: #fff;
                font-size: 16px;
                margin-bottom: 30px;
            }
        }
        >li:nth-child(2) .speaker-bio:before, 
        >li:nth-child(4n+2) .speaker-bio:before {
            left: 37.5%;
        }
        >li:nth-child(3) .speaker-bio:before, 
        >li:nth-child(4n+3) .speaker-bio:before {
            left: 62.5%;
        }
        >li:nth-child(4) .speaker-bio:before, 
        >li:nth-child(4n) .speaker-bio:before {
            left: 87.5%;
        }
        .speaker-social {

            li {
                font-size: 40px;
            }
        }
    }
    #workshops {
        padding: 60px 0;
    }
    #highlights {
        padding: 60px 0;
        background-color: darken( $blue, 43% );
    }
    #speakers {

        .card {
            background-color: $wht;
            margin-bottom: 30px;

            .card-content {

            }
            h3 {
                color: $blue;
                font-weight: $fw-light;
                letter-spacing: -1px;
                margin: 5px 0;

            }

            .card-image {
                display: block;
                position: relative;
                

                &:before {
                    background-color: rgba( $blue, 0 );
                    content: '';
                    display: block;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transition: background-color 400ms ease;
                    z-index: $z-ten;
                }

                img {
                    //filter: grayscale(100%);
                }

                &:hover img {
                    filter: grayscale(0);
                }
            }
        }
    }
    #spex-cta {
        //background-color: $blue;
        //background-image: url('../images/elements_header_background.png');
        //background-repeat: repeat;
        @include background(url("../images/elements_header_background.png"), linear-gradient(45deg,$blueD4, $blue), center no-repeat $blueD3 scroll);
        color: $wht;
        padding: 60px 0;

        h2 {
            font-family: $ff-raleway;
            font-size: 42px;
            font-weight: $fw-light;
            margin-bottom: 30px;
        }
        .btn {
            padding-left: 30px;
            padding-right: 30px;
        }
        .btn-white {
            color:$blue;
            margin-left: 15px;
        }
        .btn-hollow {
            border-color: $wht;
            color: $wht;

            &:hover {
                background-color:$wht;
                box-shadow: none;
                color: $blue;
            }
        }
    }

    #news {
        padding: 60px 0;
        
        h1 {
            font-weight: $fw-light;
            margin-top: 0;
            margin-bottom: 30px;
        }

        h3 {
            font-size: 20px;
            font-weight: $fw-light;
            margin-top: 10px;
        }
    }

    
    #map {
        height: 600px;
        position: relative;
        overflow: hidden;

        .map-holder {
            height: 100%;
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 0px;

            &:before {
                content: "";
                height: 100%;
                left: 0px;
                opacity: 0;
                position: absolute;
                top: 0px;
                width: 100%;
                
            }
            iframe {
                height: 100%;
                position: absolute;
                width: 100%;
                border-width: 0px;
                border-style: initial;
                border-color: initial;
                border-image: initial;
            }
        }
    }

    
}