body.sponsors {
    #sponsor-cta {
        padding: 60px 0;
        //background-color: darken( $blue, 40% );
        //background-image: url('../images/elements_header_background.png');
        @include background(url("../images/elements_header_background.png"), linear-gradient(45deg,$blueD4, $blue), center no-repeat $blueD3 scroll);
        color: $wht;

        h2 {
            font-size: 42px;
            font-weight: $fw-light;
            margin-bottom: 30px;
        }

        .btn {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    h2.section-title {
        margin-top: 0;
    }
    #gold {
        padding-top: 60px;
    }
    .sponsor-section {
        margin-bottom: 40px;

         .sponsor {
            height: 80px;
            line-height: 80px;
            margin-bottom: 20px;
        }

        img {
            max-height: 80px;
            max-width: 150px;
            transition: all 0.3s ease-out;
            height: auto;
        }
    }
   
}